/Task2/packages
/Task3/packages
/Task1/packages
/Task4_Exercise/packages
/Task2/SelHelper/bin
/Task2/SelinumTest/bin
/Task3/SelHelper/bin
/Task3/SelinumTest/bin
/Task1/SelHelper/bin
/Task1/SelinumTest/bin
/Task4_Exercise/SeleniumTesting/bin
/Task1/SelinumTest/obj
/Task2/SelHelper/obj
/Task2/SelinumTest/obj
/Task3/SelHelper/obj
/Task3/SelinumTest/obj
/Task1/SelHelper/obj
/Task4_Exercise/SeleniumTesting/obj
